#aboutusheading{
    display: inline;
    border-radius: 25px;
    text-transform: uppercase;
    padding:5px 25px;
    border-radius: 25px;
    background: #CFE6F2;
    color: #68A5D2;
    font-weight: bold;
    margin:1rem 0px;
}

#about-us-wrapper{
    padding-top:5rem;
}
#about-us-top h3{
    margin-top:1rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 35px;
}
.about-us-description{
    margin:1.5rem 0px;
    color:gray;
    letter-spacing: 1px;
}
.points{
    display: flex;
    column-gap: 1rem;
    margin:2rem 0px;
}
.point{
    color:#3E9CCF;
    font-size: 1.4rem;
    font-weight: 500;
}
.middle-top{
    font-size:20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 500;
}
.middle-bottom{
    font-size: 12px;
    padding: 12px 0px;
    line-height: 20px;
    letter-spacing: 1px;
}
.middle-bottom a{
    display: block;
    margin-top:12px;
    color:#68A5D2;
}
#about-us-background{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.last{
    margin-left: auto;
}
.last button{
 background: transparent;
 border:none;
 font-size: 1.2rem;
}
