.hide{
    display: none;
}
.show{
    display: block;
}
#service-wrapper{
    display: flex;
    flex-flow: column nowrap;
    padding: 10rem 0px;
    background: #f6fafc;
    position: relative;
}
#service-top{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
}
#service-heading p{
    padding:5px 25px;
    border-radius: 25px;
    background: #CFE6F2;
    color: #68A5D2;
    font-weight: bold;
    font-size: 1.2rem;
}
#service-top h3{
    margin:10px;
    line-height: 2rem;
    font-size:3rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-top: 16px;
    font-weight: 600;
    width: 580px;
}
#service-statement{
    word-spacing: 2px;
    padding: 16px;
    font-size: 1.1rem;
    max-width: 630px;
}
#service-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top:5rem;
}
.service-wrapper
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding:10px 1rem;
    max-width: 400px;
    width: 100%;
    min-width: 250px;
    height: 100%;
    box-shadow: 1px 1px 5px -3px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 1px 1px 5px -3px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 1px 5px -3px rgba(0,0,0,0.75);
    background:#fff;
}
.serviceicon{
    width: 100px;
    height: 100px;
    margin:1rem;
    border-radius: 50%;
}
.service-description{
    text-align: center;
    max-width: 300px;
}

.service-heading{
    margin-bottom: 14px;
}

.service-description{
    color:gray;
    max-width: 90%;
    text-align: center;
    letter-spacing: 1px;
}
.services{
    height: 310px;
}

#service1 .serviceicon{
    background:#CDEEC3;
}
#service2 .serviceicon{
    background:#BFEDF9;
}
#service3 .serviceicon{
    background:#FDD6BB;
}
.back1{
    background:#F2FAFC;
}

.back1,.back2,.back3{
    position: absolute;
}
.back1{
    background: #e6faff;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 315px;
    left: -60px;
}
.back2{
    background:#FCC968;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 210px;
    left: 200px;
}
.back3{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 350px;
    left: 70%;
    background: #BFEDF9;
}

@media only screen and (max-width:1200px){
    .back2{
        display: none;
    }
}

@media only screen and (max-width:768px){
    .back1{
        display: none;
    }
    .back3{
        display: none;
    }
    #service-top h3{
        font-size: 46px;
    }
}
@media only screen and (max-width:650px){
    #intro-statement .p{
        font-size: 40px;
        letter-spacing: 1px;
    }
    #statement-description p{
        width: 100%;
        font-size: 16px;
        letter-spacing: 1px;
        word-spacing: 0px;
    }

    #service-top h3{
        font-size: 40px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width:540px){
    #service-top h3{
        font-size: 33px;
        letter-spacing: 0px;
        width: 100%;
        text-align: center;
        line-height: 50px;
    }
    #service-statement{
        width: 100%;
        font-size: 14px;
        letter-spacing: 0px;
        word-spacing: 0px;
    }

    
}

@media only screen and (max-width:540px){
    .numbercontainer{
        padding:3px 7px;
    }
    .numbercontainer span{
        font-size: 15px;
    }
    .numbercontainer p{
        font-size: 10px;
    }
}